#### 1. Dataframe basics

#### 1.1. Import pandas and reffered the package as pd + Load "telecom_churn.csv" and assign in to the variable df <span style= color:#0033cc>(3 points)</span>

In [3]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.1-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.1-cp310-cp310-win_amd64.whl (11.6 MB)
Installing collected packages: pandas
Successfully installed pandas-2.2.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

#### 1.2 Return the column labels/names <span style= color:#0033cc>(2 points)</span>

In [6]:
 df = pd.read_csv('./telecom_churn.csv')
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [12]:
df.head(0)

Empty DataFrame
Columns: [State, Account length, Area code, International plan, Voice mail plan, Number vmail messages, Total day minutes, Total day calls, Total day charge, Total eve minutes, Total eve calls, Total eve charge, Total night minutes, Total night calls, Total night charge, Total intl minutes, Total intl calls, Total intl charge, Customer service calls, Churn]
Index: []

#### 1.3 Print the df shape <span style= color:#0033cc>(3 points)</span>

In [13]:
df.shape

(3333, 20)

#### 2. What is the total day calls given by state and area code?

#### 2.1 Group the df by state and area code (assign it to grouped variable). <span style= color:#0033cc>(5 points)</span>

In [8]:
grouped_data = df.groupby('State')['Area code']
grouped_data

#### 2.2 Use agg with the desired function sum to get the final answer (assign it to telecom_agg variable).<span style= color:#0033cc>(5 points)</span>

In [9]:
telecom_agg=grouped_data.agg(['sum'])
telecom_agg

         sum
State
AK     22812
AL     34450
AR     24159
AZ     27690
CA     15011
CO     28355
CT     31791
DC     23547
DE     26839
FL     27961
GA     24015
HI     22650
IA     19724
ID     32111
IL     25390
IN     31239
KS     30961
KY     25520
LA     22119
MA     27947
MD     30363
ME     27715
MI     32301
MN     37000
MO     27085
MS     28675
MT     29716
NC     29470
ND     27022
NE     26554
NH     24205
NJ     29920
NM     26663
NV     29002
NY     35927
OH     33736
OK     26811
OR     34172
PA     19717
RI     28601
SC     26424
SD     26308
TN     23058
TX     31165
UT     31981
VA     33395
VT     32076
WA     28844
WI     34211
WV     47080
WY     33641

#### 2.3 Reset the group by index <span style= color:#0033cc>(3 points)</span>

In [25]:
df.reset_index()

,index,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,...,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,0,KS,128,415,No,Yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,1,OH,107,415,No,Yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,2,NJ,137,415,No,No,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,3,OH,84,408,Yes,No,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,4,OK,75,415,Yes,No,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,3328,AZ,192,415,No,Yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,3329,WV,68,415,No,No,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,3330,RI,28,510,No,No,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,3331,CT,184,510,Yes,No,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,3332,TN,74,415,No,Yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

#### 2.4 Use head function to review the first 10 telecom_agg rows <span style= color:#0033cc>(3 points)</span>

In [10]:
telecom_agg.head(10)

         sum
State
AK     22812
AL     34450
AR     24159
AZ     27690
CA     15011
CO     28355
CT     31791
DC     23547
DE     26839
FL     27961

#### 3. Users Churn rate

#### 3.1 Change "Churn" column type to an integer: <span style= color:#0033cc>(3 points)</span>

In [7]:
df["Churn"] = df["Churn"].astype(int)
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

#### 3.2 what is the users "churn rate" in our dataframe? <span style= color:#0033cc>(5 points)</span>
Hint: the churn rate formula can be calculated as the "number of churned" divided by the "total number of customers".

In [13]:
churn_rate = df['Churn'].sum() / df['Customer service calls'].sum()
churn_rate

0.09272413131119217

#### 3.3  How the charn rate can affect on the company? <span style= color:#0033cc>(3 points)</span>

206.91407867494823

#### 3.4 How much time (on average) do churned users spend on the phone during daytime? <span style= color:#0033cc>(5 points)</span>
Hint: filter churn column when the value of churn equal to 1

In [15]:
filtered_data = df[df.Churn ==1]
filtered_data['Total day minutes'].mean()

206.91407867494823

#### 3.5 What is the maximum length of international calls among loyal users who do not have an international plan? ('International plan' == 'No') <span style= color:#0033cc>(5 points)</span>
Hint: 2 filters conditions,churn equal to 0 and international plan equal to no

In [16]:
filter = df[(df.Churn == 0) & (df['International plan'] =='No')]
filter['Total intl minutes'].max()

18.9

#### 4. Select top 3 international plan subscribers and non subscribers with the most intl calls

#### 4.1. Build a function top which attributes df, n (for the top n) and column. In this function use sort_values to sort the values in the column specified. <span style= color:#0033cc>(10 points)</span>
Note: Do not apply the function on the whole data frame (e.i. top(df, n=3)) as the output will be the top 3 regardless of subscribers and non-subscribers.

In [18]:
filter_4=filter[filter['International plan'] == 'No'].sort_values('Total intl minutes').head(3)
filter_4

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3275,NY,120,510,No,Yes,27,128.5,115,21.85,163.7,91,13.91,242.9,121,10.93,0.0,0,0.0,1,0
3290,CA,127,510,No,No,0,107.9,128,18.34,187.0,77,15.90,218.5,95,9.83,0.0,0,0.0,0,0
2513,NY,86,510,No,No,0,70.7,125,12.02,211.0,113,17.94,174.6,107,7.86,0.0,0,0.0,2,0

#### 4.2. Group the df dataframe by 'International plan' and use apply(top) to apply this function. <span style= color:#0033cc>(5 points)</span>

In [19]:
df.groupby(['International plan']).apply(max)

C:\Users\huser\AppData\Local\Temp\ipykernel_968\2212244922.py:1: FutureWarning: The provided callable <built-in function max> is currently using np.maximum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.maximum.reduce instead.
  df.groupby(['International plan']).apply(max)
C:\Users\huser\AppData\Local\Temp\ipykernel_968\2212244922.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby(['International plan']).apply(max)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
International plan,,,,,,,,,,,,,,,,,,,,
No,WY,243,510,No,Yes,51,350.8,165,59.64,361.8,170,30.75,395.0,175,17.77,18.9,19,5.1,9,1
Yes,WY,224,510,Yes,Yes,45,346.8,146,58.96,363.7,159,30.91,352.5,154,15.86,20.0,20,5.4,9,1

#### 5. pd.crosstab

#### 5.1 how the observations in our sample are normalized (divide each value by the sum of the values) in the context of two variables - Churn and Voice mail plan. To do so, build a contingency table using the crosstab method. <span style= color:#0033cc>(6 points)</span>
Hint: To normalize using all values, simply set normalize=True

In [20]:
crosstab=pd.crosstab(df['Churn'],df['Voice mail plan'])
crosstab

Voice mail plan    No  Yes
Churn
0                2008  842
1                 403   80

#### 5.2 What is the conclustion of most of users regarding voice mail usage? <span style= color:#0033cc>(4 points)</span>

In [22]:
crosstab.sum().idxmax()

'No'

#### 6. Columns calculations

#### 6.1 Add a column name 'total_charge', and get the total charge by sum all the charge columns <span style= color:#0033cc>(7 points)</span>

In [28]:
df.insert(2,'total charge',df['Total day charge']+df['Total eve charge']+df['Total night charge']+df['Total intl charge'])
df

,State,Account length,total charge,total_charge,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,...,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,75.56,75.56,415,No,Yes,25,265.1,110,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,59.24,59.24,415,No,Yes,26,161.6,123,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,62.29,62.29,415,No,No,0,243.4,114,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,66.80,66.80,408,Yes,No,0,299.4,71,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,52.09,52.09,415,Yes,No,0,166.7,113,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,60.10,60.10,415,No,Yes,36,156.2,77,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,63.53,63.53,415,No,No,0,231.1,57,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,67.74,67.74,510,No,No,0,180.8,109,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,57.53,57.53,510,Yes,No,0,213.8,105,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,77.01,77.01,415,No,Yes,25,234.4,113,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

####  6.2 Add a column name 'Day_charge_pct', and get day charge precentage of total charge by dividing the column 'Total day charge' by the column 'total_charge'. <span style= color:#0033cc>(7 points)</span>

In [37]:
df.insert(3,'Day_charge_pct',df['Total day charge']/df['total charge'])
df

,State,Account length,total charge,Day charge pct,Day_charge_pct,total_charge,Area code,International plan,Voice mail plan,Number vmail messages,...,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,75.56,0.596480,0.596480,75.56,415,No,Yes,25,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,59.24,0.463707,0.463707,59.24,415,No,Yes,26,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,62.29,0.664312,0.664312,62.29,415,No,No,0,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,66.80,0.761976,0.761976,66.80,408,Yes,No,0,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,52.09,0.544058,0.544058,52.09,415,Yes,No,0,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,60.10,0.441764,0.441764,60.10,415,No,Yes,36,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,0
3329,WV,68,63.53,0.618448,0.618448,63.53,415,No,No,0,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,0
3330,RI,28,67.74,0.453794,0.453794,67.74,510,No,No,0,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,0
3331,CT,184,57.53,0.631844,0.631844,57.53,510,Yes,No,0,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,0
3332,TN,74,77.01,0.517465,0.517465,77.01,415,No,Yes,25,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,0

#### 7. Day charge percentage and state visualization

#### 7.1 Import matplotlib.pyplot and referred the package as plt <span style= color:#0033cc>(2 points)</span>

In [39]:
pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.8.3-cp310-cp310-win_amd64.whl.metadata (5.9 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.2.0-cp310-cp310-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: fonttools>=4.22.0 in c:\python310\lib\site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python310\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\python310\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\python310\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\python310\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python310\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Using cached matplotlib-3.8.3-cp310-cp310-win_amd64.whl (7.6 MB)
Using cached contourpy-1.2.0-cp310-cp310-win_amd64.whl (186 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Installing collected packages: cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.0 cycler-0.12.1 matplotlib-3.8.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

#### 7.2 create new string list with the name 'my_color' that contains the following colors names: red,green,orange,blue,yellow <span style= color:#0033cc>(4 points)</span>

In [40]:
import matplotlib.pyplot as plt

In [47]:
my_color=["black","green","yello"]
my_color

['black', 'green', 'yello']

#### 7.3 Bar chart plot <span style= color:#0033cc>(10 points)</span>

1.Select first 5 rows of the dataframe (use df.iloc[])

2.Use <span style= color:blue>df.plot</span> function with kind='bar' and x='State' and y='Day_charge_pct' and color = my_colors to make a simple bar chart plot (of the day chart %).

3.Use <span style= color:blue>plt.xlabel("State Code")</span> and <span style= color:blue>plt.ylabel("Day Charge %")</span> to label the corresponding axes

In [52]:
fcol=df.iloc[0:5]
fcol

,State,Account length,total charge,Day charge pct,Day_charge_pct,total_charge,Area code,International plan,Voice mail plan,Number vmail messages,...,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,75.56,0.596480,0.596480,75.56,415,No,Yes,25,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,59.24,0.463707,0.463707,59.24,415,No,Yes,26,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,62.29,0.664312,0.664312,62.29,415,No,No,0,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,66.80,0.761976,0.761976,66.80,408,Yes,No,0,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,52.09,0.544058,0.544058,52.09,415,Yes,No,0,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [51]:
fcol.plot(kind='bar' , x='State' , y='Day_charge_pct' , color = my_color)
plt.xlabel("State Code")
plt.ylabel("Day Charge %")